:root {
    --bg: #15161c;
    --base: #ffbcf4;
    --accent: #e9adff;

    --primary-text: #c3d8ff;

    --btn-bg: #1c1c34;
    --btn-color: #ffcbf6;
    --btn-bg-hover: #472c69;
    --btn-bg-click: #75339f;

    --msgbox-bg: #161623;
    --msgbox-border: #323262;

    --msgbox-bg-focus: #232330;
    --msgbox-border-focus: #424271;

    --basic-border: rgba(255, 79, 229, 0.471);

    --seperator: #979797;
    --alert: #f65794;
    --alert-bg: #59598d;
}

body {
    background-color: var(--bg);
    color: var(--base);
}

.flex-container {
    display: flex;
    flex-direction: row;

    width: 50%;
    justify-content: center;

    /*border: 1px solid rgba(255, 0, 0, 0.283);*/
}

.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}

.chat-section {
    display: flex;
    flex-direction: column;
    flex-basis: 85%;
}

.users {
    display: flex;
    flex-basis: 15%;

    border: 1px solid var(--basic-border);
    padding: 2px;
    border-radius: 8px;

    height: max-content;
    margin-left: 5px;
}

.chat-container {
    overflow: auto;
    margin-bottom: 2px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--basic-border);
    
    display: flex;
    flex-direction: column;

    height: 30vh;
}

.message {
    background-color: var(--msgbox-bg);

    border: 1px solid var(--msgbox-border);
    text-align: left;
    text-decoration: none;

    padding: 2px;
}
.message:focus {
    background-color: var(--msgbox-bg-focus);
    border: 1px solid var(--msgbox-border-focus);
    outline: none;
}

.btn {
    background: var(--btn-bg);;
    color: var(--btn-color);

    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.3s;

    border-radius: 8px;
}
.btn:hover {
    background-color: var(--btn-bg-hover);
}
.btn:active {
    background: var(--btn-bg-click)
}

.users-title {
    display: flex;
    justify-content: center;
}

.user-item {
    display: flex;
    justify-content: center;
}

.title-bar, .content, footer {
    display: flex;
    justify-content: center;
    justify-items: center;
}
.title {
    font-size: 60pt;
    border-bottom: 1px solid var(--seperator);
}
.content {
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.chat-item {
    display: flex;
    background: var(--chat-item-1);
}
.notification-container {
    margin: 0.5em;
    border-radius: 8px;
    /*border: 1px solid #ef418f;*/
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
}
.message {
        flex-basis: 75%;
        color: var(--primary-text);
        border-radius: 8px;
        padding: 5px;
}
.btn {
        flex-basis: 25%;
}
.join-container {
    display: flex;
    margin: 0.5em;
}
.alert {
    border: 1px solid #ff84b3;
    background-color: #606076;
    color: #ff84b3;
    border-radius: 8px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 5px
}


.scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #161616;
	border-radius: 8px;
}

.scrollbar::-webkit-scrollbar
{
	width: 10px;
	background-color: #00000000;
}

.scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 8px;
	/*background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(22, 22, 23)),
									   color-stop(0.72, rgb(35, 37, 40)),
									   color-stop(0.86, rgb(64, 71, 89)));
    */
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #c472ae;
}

div[hidden] {
    display: none;
}

footer {
    border-top: 1px solid var(--seperator);
}

.chat_msg {
    margin: 1px;
    display: flex;
    flex-direction: column;
    padding: 2px;
}
.chat_bg1 {
    background-color: #23213e;
}
.chat_bg2 {
    background-color: #39213e;
}
.chat_sender {
    font-weight: bold;
    color: #d656c3;
}
.chat_content {
    margin-left: 1em;
}
.chat_notice {
    font-weight: bold;
    font-size: 18px;
    background-color: #131123;
    color: #ffabfc;
}